html, body{
    height: 100%    
}

* {
    box-sizing: border-box;
    
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(16, 30px [col-start]);
    
  }

  #changeit{
    border: 1px solid black; 
    height: 25px; 
    width: 25px" 
  }

    .active{
    background-color: red;
  }


.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    flex-direction: column;
}

.fix{
    display: flex;
    gap: 15px;
}

button{
    background-color: tomato;
    padding: 11px;
    margin-top: 40px;
    border-radius: 15px;
    border: none;
    color:black;
    font-weight: 900;
}

h1{
    font-family: 'Times New Roman', serif;
    color: rgb(71, 69, 202);
    font-weight: 800;
}

.green{
    background-color: green;
  }

  .blue{
    background-color: blue;
  }

  .yellow{
    background-color: yellow;
  }

  .pink{
    background-color: pink;
  }

  .orange{
    background-color: orange;
  }

